* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;    
}
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

*:focus,
*:active {
    outline: 0 0 0 none !important;
    border: 0;
    box-shadow: 0 0 0 !important;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1c1c1c;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}


.top-part {
    background-color: #d2e8fb;
    border-top: 4px dashed #1d1d1d;
}
.logo {
    margin: 30px 0 24px 0;
    display: inline-block;
}
.phone-mail {
    padding-top: 40px;
    text-align: right;
}
.phone-mail a.phone {
    color: #010101;
}
.phone-mail a.phone i {
    color: #c6333a;
}
.phone-mail a.mail {
    background: rgb(117,117,117);
    background: -moz-linear-gradient(top,  rgba(117,117,117,1) 0%, rgba(1,1,1,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(117,117,117,1) 0%,rgba(1,1,1,1) 100%);
    background: linear-gradient(to bottom,  rgba(117,117,117,1) 0%,rgba(1,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#010101',GradientType=0 );

    display: inline-block;
    border-radius: 25px;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    padding: 0 30px;
    margin-left: 20px;
}
.phone-mail a.mail:hover {
    background: #d23940;
}

.navimenu {
    margin-bottom: -30px;
    background: rgb(210,57,64);
    background: -moz-linear-gradient(top,  rgba(210,57,64,1) 0%, rgba(162,21,27,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,57,64,1) 0%,rgba(162,21,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,57,64,1) 0%,rgba(162,21,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d23940', endColorstr='#a2151b',GradientType=0 );
    border-radius: 30px;
    z-index: 1;
    position: relative;
}
.navimenu ul.navbar-nav li {
    padding: 0 10px;
}
.navimenu ul.navbar-nav li a.nav-link {
    color: #fff;
}
.navimenu ul.navbar-nav li a.nav-link:hover {
    color: #ffd2d4;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #ffd2d4;
}
.navimenu ul.navbar-nav .active>.nav-link {
    color: #ffd2d4;
} 

.carousel {
    position: relative;
    z-index: 0;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    top: 124px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #414141;
    text-align: left;
    width: 38%;
}
.carousel-caption h5 {
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    color: #414141;
}
.carousel-caption p {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #414141;
}
.carousel-caption a {
    background: rgb(210,57,64);
    background: -moz-linear-gradient(top,  rgba(210,57,64,1) 0%, rgba(162,21,27,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,57,64,1) 0%,rgba(162,21,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,57,64,1) 0%,rgba(162,21,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d23940', endColorstr='#a2151b',GradientType=0 );
    border-radius: 30px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}
.carousel-caption a:hover {
    background: #000;
}


/*.red-part {
    background-color: #ff5736;
}*/
.red-part {
    background-color: #c83138;
}

.red-part p{
    color: #FFFFFF;
}
.red-part b{
    color: #fffca9;
}

.red-part h1 {
    font-family: 'Noto Serif', serif;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #fffca9;
}
.red-part h2 {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fffca9;
}
.red-part ul {
    padding-top: 10px;
}
.red-part ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #fff;
}
.red-part ul li:last-child {
    border:0;
}
.red-part ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: #fff; 
}
.red-part ul li a:hover {
   text-decoration: underline;
}
.red-part h3 {
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fffca9;
}
.red-part p a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;   
}
.red-part p a:hover {
    text-decoration: underline;
}
.red-part h4 {
    margin-top: 15px;
    font-family: 'Noto Serif', serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
}

.black-part {
    background: #414141;
}
.black-part h3 {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.black-part a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}

.started {
    background: url(../images/started.jpg) no-repeat 0 0;
    padding: 122px 0;
    background-size: cover;
}
.started-in {
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.64);
}
.started .started-in h2 {
    font-family: 'Noto Serif', serif;
    font-size: 38px;
    line-height: 50px;
    font-weight: 700;
    color: #272727;
}
.started .started-in p {
    color: #000;
}
.started .started-in a {
    background: rgb(210,57,64);
    background: -moz-linear-gradient(top,  rgba(210,57,64,1) 0%, rgba(162,21,27,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(210,57,64,1) 0%,rgba(162,21,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(210,57,64,1) 0%,rgba(162,21,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d23940', endColorstr='#a2151b',GradientType=0 );
    border-radius: 30px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}
.started a:hover {
    background: #000;
}


.footer-top {
    background: #232323;
    padding-bottom: 30px;
}
.footer-top .foot-heading h2 {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin-top: 40px;
}
.footer-top .foot-heading span {
    width: 70%;
    height: 1px;
    background: #626262;
    display: block;
    margin-bottom: 10px;
}
.footer-top ul.foot-nav {
    
}
.footer-top ul.foot-nav li {
    padding-top: 6px;
}
.footer-top ul.foot-nav li a {
    font-size: 16px;
    line-height: 20px;
    color: #d8d8d8;
    padding: 0 0 0 20px;
    position: relative;
    display: inline-block;
}
.footer-top ul.foot-nav li a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f0da ";
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    color: #d8d8d8;
}
.footer-top ul.foot-nav li a:hover {
    text-decoration: underline;
}

.footer-top .foot-address {
    padding-top: 12px;
}
.footer-top .foot-address p {
    display: inline-block;
    color: #d8d8d8;
    padding-bottom: 5px;
    display: block;
    padding-left: 25px;
}
.footer-top .foot-address p a {
    color: #d8d8d8;
}
.footer-top .foot-address p a:hover {
    text-decoration: underline;
}
.footer-top .foot-address p.foot-phone {
    position: relative;
}
.footer-top .foot-address p.foot-phone:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f095";
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    color: #d8d8d8;
}

.footer-top .foot-address p.foot-mail {
    position: relative;
}
.footer-top .foot-address p.foot-mail:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f003";
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    color: #d8d8d8;
}

.footer-top .foot-address p.foot-ad {
    position: relative;
}
.footer-top .foot-address p.foot-ad:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f041";
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    color: #d8d8d8;
}
.footer-top .iccrc {
    display: inline-block;
    margin-top: 46px;
}
.footer-top ul.social {
    margin: 30px 0 0 30px;
}
.footer-top ul.social li {
    padding: 0 8px;
    display: inline-block;
}
.footer-top ul.social li a {
    background: #616161;
    width: 37px;
    height: 37px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    color: #d8d8d8;
    display: block;
}
.footer-top ul.social li a:hover {
    background: #7b7b7b;
}
.footer-bottom {
    background: #343434;
}
.footer-bottom p {
    text-align: center;
    color: #d8d8d8;
    padding: 10px 0;
}
.footer-bottom p a {
    color: #d8d8d8;
    text-decoration: underline;
}
.footer-bottom p a:hover {
    text-decoration: none;
}


.inner-banner {
    
}
.about h2 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about ul.list-txt {
    margin: 20px 0 ;
}
.about ul.list-txt li {
    margin-top: 5px ;
    position: relative;
    padding-left: 20px;
}
.about ul.list-txt li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f140";
    font-family: 'FontAwesome';
    font-size: 14px;
}



.about ul.prac-txt {
    /*margin: 10px 0 30px 0;*/
}
.about ul.prac-txt li {
    background: #efefef;
    padding: 15px 20px;
    margin-bottom: 10px;
}
.about p {
    margin-bottom: 20px;
}
.about a {
    color: #c6333a;
    font-weight: 700;
}
.star-part {
    padding: 30px 40px;
    border:1px solid #ccc;
    text-align: center;
    margin-bottom: 30px;
}
.star-part .star {
    font-size: 30px;
}
.checked {
  color: orange;
}

.pagination .page-item .page-link {
    color: #000;
    font-weight: 300;
}
.cont-frm .bg-primary {
    background-color: #c73037!important;
}
.cont-adrs .bg-success {
    background-color: #414141!important;
}
.cont-adrs .card-body a {
    color: #1c1c1c;
    font-weight: 400;
}